<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h1><%= username %> Reset Password</h1>
    <p>You want to reset your password for this email: <%= email %></p>
    <p>If you want to reset your password. Kindly click on the link below:</p>
    <a href="<%= url %>">Reset my password</a>
  </body>
</html>
